.main {
    padding: 10px;
}

.video-header {
    text-align: center;
}

.mobile-video-list {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.mobile-video-list div {
    align-content: center;
}

.mobile-video-list h3 {
    text-align: center;
}

.mobile-video-list p {
    text-align: justify;
}

.mobile-video-list iframe {
    align-content: center;
}

.browser-video-list {
    display: flex;
    justify-content: space-between;
}

.youtube-button {
    width: 100px;
    height: auto;
}