  .Chip {
      margin-left: 5px;
      margin-bottom: 5px;
  }

  .Icon {
      margin: 0px, 0px, 0px, 0px;
      padding: 0px;
  }

  .Skill {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Skill-box {
    padding: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90vw;
    max-width: 350px;
    color: #282c34;
  }

  .Skill-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
